<h2>{{title}}</h2>
<p>{{description}}</p>
{{#if canChangeCollaborators}}
<h3>Collaborators</h3>
<ul>
  {{#collaborators}}
  <li>{{name}} ({{role}})</li>
  {{/collaborators}}
</ul>
{{/if}}
<div class="cards"></div>
<div class="actions">
<a href="/decks/{{id}}/learn">Learn</a>
</div>
