!!!5
%html
  %head
    %title=  [params[:controller].capitalize,"Zaphod"].compact.join(" – ")
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Zaphod
      %nav
        = link_to "Sammlungen"#, user_decks_path(current_user)
        = link_to "Abmelden"#, destroy_user_session_path
    = yield
